---
const { className, backgroundUrl, id } = Astro.props;
---

<section id={id} class={`${className} w-full `}>
  {
    backgroundUrl && (
      <div class="w-full absolute h-full">
        <img src={backgroundUrl} alt="" class="w-full h-full object-cover" />
      </div>
    )
  }
  <slot />
</section>
