---
const { className, backgroundUrl, id } = Astro.props;
---

<section id={id} class={`${className} w-full`}>
  <slot />
</section>
<style define:vars={{ backgroundUrl }}>
  section {
    background-image: var(--backgroundUrl);
  }
</style>
