---
interface Props {
  delay: string;
  className?: string;
}
const { delay, className } = Astro.props;
---

<div class={`fade-in ${className}`}>
  <slot />
</div>

<style define:vars={{ delay }}>
  .fade-in {
    animation: fadeIn 600ms var(--delay) both;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      margin-bottom: -10px;
    }
    to {
      margin-bottom: 0;
      opacity: 1;
    }
  }
</style>
