<header
  class="fixed flex justify-center items-center mx-auto py-5 top-0 w-full xl:w-[1120px] z-10"
>
  <nav
    class="border border-black rounded-full px-3 py-1 flex flex-row items-center bg-neutral-200 bg-black/50 backdrop-blur-2xl"
  >
    <ul
      class="flex text-[17px] [&>li>a]:inline-block [&>li>a]:px-4 justify-around"
    >
      <li>
        <a
          href="#experience"
          class="hover:bg-white/10 rounded-full px-3 transition">Experience</a
        >
      </li>
      <li>
        <a
          href="#projects"
          class="hover:bg-white/10 rounded-full px-3 transition">Projects</a
        >
      </li>
      <li>
        <a href="#about" class="hover:bg-white/10 rounded-full px-3 transition"
          >About</a
        >
      </li>
      <li>
        <a
          href="#contact"
          class="hover:bg-white/10 rounded-full px-3 transition">Contact</a
        >
      </li>
    </ul>
  </nav>
</header>
